body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}
h1 {
  color: grey;
  font-weight: lighter;
  margin-bottom: 50px;
}

.main1 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
  height: 100px;
  border: 2px solid lightskyblue;
  border-radius: 6px;
  margin-bottom: 20px;
}

.container1 {
  width: 100%;
  height: 45px;
  display: flex;
  background-color: rgba(226, 247, 255, 0.853);
  font-weight: bold;
  align-items: center;
}
.container1 i {
  color: rgb(0, 179, 255);
  margin-left: 20px;
  margin-right: 10px;
}

.container2 {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

code {
  background: #f3f3f3;
  margin: 3px;
  border-radius: 4px;
  padding: 1px 3px;
  color: #545454;
}

.main2 {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
  height: 100%;
  border: 2px solid rgb(255, 188, 122);
  border-radius: 6px;
}
.container3 {
  width: 100%;
  height: 45px;
  display: flex;
  background-color: rgba(255, 188, 122, 0.133);
  font-weight: bold;
  align-items: center;
}
.container3 i {
  color: rgb(252, 173, 83);
  margin-left: 20px;
  margin-right: 10px;
}

.container4 {
  width: 100%;
  height: 110px;
  padding-top: 15px;
  padding-left: 15px;
}
.container4 ul{
    margin-top: 25px ;
    margin-left: -15px;
}
.container4 li{
    margin-top: 15px ;
}