.container1 {
  background-color: lightblue;
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
.container1 div {
  width: 100px;
  height: 30px;
  background-color: grey;
  margin: auto 30px;
}

.container2 {
  display: flex;
  height: 500px;
}

.container21 {
  background-color: lightgreen;
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin-right: 3%;
}
.container21 div {
  width: 100px;
  height: 30px;
  background-color: grey;
  margin:  10px auto;

}
.container22 {
  background-color: lightcoral;
  display: inline-flex;
  width: 78%;
  height: 100%;
}
.container22 img {
  width: 60%;
  height: 60%;
  margin: auto auto;
}