*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 60px;
    background-color: rgba(106, 32, 191, 0.299);
    font-size: 25px;
    font-weight: light;
    display: flex;
    align-items: center;
}
header p{
    margin-left: 10px;
}

.main{
    background-color:rgba(106, 32, 191, 0.084) ;
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#value{
    font-size: 30px;
}
.buttons button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin: 15px;
    border: none;
    background-color:rgba(191, 32, 180, 0.111);
    font-size: 30px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.164);
    cursor: pointer;
}

.buttons10 button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin: 40px;
    border: none;
    background-color:rgba(191, 32, 180, 0.062);
    font-size: 20px;
    font-weight: bold;
    color: rgba(43, 0, 43, 0.518);
    cursor: pointer;
}