.main {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #f4f4f48e;
  border-bottom: 2px solid #d9d9d9;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}
.content p {
  text-align: center;
}
.ar {
  font-weight: bold;
  font-size: 35px;
}
.mo {
  font-size: 25px;
  color: rgb(111, 111, 111);
}
.desc {
  font-size: 15px;
  margin: 5px;
}
button {
  width: 90%;
  height: 35px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
  margin: 15px;
}
